/* CSS Document */
.h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative; /*將元素設定在固定位置*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgb(4, 15, 36);
  /* -webkit-box-reflect: below 1px linear-gradient(transparent ,rgb(218, 218, 218)); 字體反轉動畫*/
  animation: san 6s linear infinite;
  z-index: 9999;
}
@keyframes san {
  0%,
  15%,
  50%,
  52%,
  70%,
  90%,
  99.1% {
    color: #92dce5;
    filter: blur(2px);
  }
  12%,
  15.1%,
  60%,
  70.1%,
  90.5%,
  100% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #2b2d42, 0 0 25px rgb(22, 138, 216),
      0 0 35px rgb(22, 138, 216), 0 0 105px rgb(22, 138, 216),
      0 0 155px rgb(22, 138, 216);
    filter: blur(0px);
  }
}
